@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat-sans);
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  @apply bg-white text-black;
}

main {
  @apply text-xl;
}

h1 {
  @apply text-9xl font-semibold;
}

a {
  @apply hover:text-gray-600 transition-all;
}

/* View Transition */
::view-transition-old(*) {
  animation: slide-out 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

::view-transition-new(*) {
  animation: slide-in 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}
